The price of the ordinary 25p shares of Manco PLC quoted on the stock exchange at the close of the business of successive Fridays is tabulated below:

126, 120, 122, 105, 129, 119, 131, 138
125, 127, 113, 112, 130, 122, 134, 136
128, 126, 117, 114, 120, 123, 127, 140
124, 127, 114, 111, 116, 131, 128, 137
127, 122, 106, 121, 116, 135, 142, 130

Required:

a) Group the above data into eight classes and construct a frequency distribution

b) Obtain the standard deviation of the distribution 

c) Determine the coefficient of variance of the distribution 

d) Calculate the coefficient of Skewness and interpret your results

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dt = pd.read_csv('data.csv', header = None)
dt

     0    1    2    3    4    5    6    7
0  126  120  122  105  129  119  131  138
1  125  127  113  112  130  122  134  136
2  128  126  117  114  120  123  127  140
3  124  127  114  111  116  131  128  137
4  127  122  106  121  116  135  142  130

In [3]:
dt1 = dt.values.flatten()
dt1 = pd.DataFrame({'freq': dt1})
dt1

    freq
0    126
1    120
2    122
3    105
4    129
5    119
6    131
7    138
8    125
9    127
10   113
11   112
12   130
13   122
14   134
15   136
16   128
17   126
18   117
19   114
20   120
21   123
22   127
23   140
24   124
25   127
26   114
27   111
28   116
29   131
30   128
31   137
32   127
33   122
34   106
35   121
36   116
37   135
38   142
39   130

In [4]:
ranges = np.array([104,109,114,119,124,129,134,139])

In [8]:
dt2 = dt1.groupby(pd.cut(dt1['freq'], ranges)).count()
dt2

            freq
freq
(104, 109]     2
(109, 114]     5
(114, 119]     4
(119, 124]     8
(124, 129]    10
(129, 134]     5
(134, 139]     4

In [9]:
dt1.min()

freq    105
dtype: int64

In [10]:
dt1.max()

freq    142
dtype: int64

$\sigma={\sqrt {\frac {\sum(x_{i}-{\mu})^{2}}{N}}}$

In [14]:
np.std(dt2['freq'].values)

2.498979383505129

In [15]:
np.sqrt(np.sum((dt2['freq'].values - np.mean(dt2['freq'].values))**2) /7)

2.498979383505129

In [16]:
dt2['freq'].values

array([ 2,  5,  4,  8, 10,  5,  4])

In [17]:
np.mean(dt2['freq'].values)

5.428571428571429

In [18]:
# coeff of variation 
cv = lambda x: np.std(x, ddof=1) / np.mean(x) * 100 

#calculate CV
cv(dt2['freq'].values)

49.72222007287153

In [19]:
cv([ 2,  5,  4,  8, 10,  5,  4])

49.72222007287153